body {
    padding: 0;
    margin: 0;
    font-family: "poppins";
}

a {
    text-decoration: none;
}

.contenedor {
    width: 90%;
    max-width: 1280px;
    margin:auto;
}

.menu {
    background: #fff;
    padding: 9px 20px;
}

.menu .contenedor {
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.menu .menu-icon {
    display:none;
}

header .logo {
    font-size: 23px;
    font-weight: bold;
}

nav ul li {
    display: inline-block;
    margin: 0 40px;
}

nav ul li a {
    color: #000;
}

/* Intro */

#intro {
    background: url(imagenes/back.jpg);
    text-align: center;
    height: 60vh;
    margin-top: -60px;
    background-size: cover;
    background-position: 57% 48%;
}

#intro h1 {
    font-family: "playfair display";
    font-size: 52px;
    color: #fff;
    font-weight: normal;
    padding-top: 60px;
}

#intro p {
    color: #bfbfbf;
    font-size: 18px;
    line-height: 36px;
    width: 60%;
    margin:auto;
}

#intro .menu {
    color: #fff;
    border: 1px solid #fff;
    padding: 9px;
    background: transparent;
}

#intro .reservation {
    color: #fff;
    padding: 9px;
    background: #c39d63;
}

#intro .botones {
    margin-top: 50px;    
}

#intro .botones a {
    margin-right: 20px;
    padding: 9px 23px;
}

/* Historia */

#history {
    padding: 90px 0;
}

#history .contenedor {
    display: flex;
    justify-content: center;
}
 
.historia {
    color: #bfbfbf;
    letter-spacing: 2px;
    font-weight: 700;
}

hr {
    width: 40px;
    float: left;
    border-color: #c29d63;
}

#history h2, #testimonials h2 {
    margin-top: 50px;
    font-size: 48px;
    font-family: "Playfair display";
    font-weight: 300;
}

#history .texto, #testimonials .texto{
    font-size: 17px;
    color: #939393;
    line-height: 30px;
    width: 88%;
}

#history .izquierda{
    width: 40%;
}

/* MENU */

#menu {
    background: #1f1f1f;
}

#menu .foto {
    background: url(imagenes/cangrejo.png);
    width: 300px;
    height: 285px;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu .linea1 div, #menu .linea2 div {
    display:inline-block;
    width: 32.1%;
}

#menu .linea1, #menu .linea2 {
    background: #fff;
    text-align: center;
}

#menu li {
    list-style: none;
}

#menu .precio {
    font-size: 24px;
    color: #c29d62;
     margin-bottom: 15px;
}

#menu .titulo {
    font-family: "playfair display";
    font-size: 24px;
    font-weight: 100;
}

#menu .parrafo {
    color: #939393;
    line-height: 30px;
    margin-top: 20px
}

#menu .hongo {
    background: url(imagenes/hongos.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    top: -11px;
    left: -13px;
}

#menu .pez {
    background: url(imagenes/pez.png);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    top: -11px;
    right: -13px;
}

#menu .contenedor {
    max-width: 1130px;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu .texto {
    position: relative;
    top: -30px;
}

#menu .linea2 {
    height: 274px;
}

/* Testimonials */

#testimonials {
    text-align: center;
    background: #f7f7f7;
    padding: 90px 0;
}

#testimonials .titulo {
    color: #bfbfbf;
    letter-spacing: 2px;
    font-weight: 700;
}

#testimonials hr{
    width: 110px;
    float: none;
    font-weight: 700;
}

.contenedor-testimonials{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonial {
    width: 23%;
    text-align: left;
}

.testimonial img {
    width: 55%;
}

#testimonials .contenedor {
    max-width: 1150px;
}

/* Contacto */

#contacto {
    background: url(imagenes/restaurant.jpg);
    color:#fff;
    text-align: center;
    padding: 90px 0; 
}

#contacto .contenedor {
    display:flex;
    justify-content: center;

}

#contacto .izquierda, #contacto .derecha {
    background: #1f1f1f;
    padding: 77px 29px;
}

#contacto .izquierda {
    margin-right: 40px;

}

#contacto ul {
    border-bottom: 2px solid #c29d62;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.izquierda #tercero {
    border-bottom: 0px;
}

#contacto ul li {
    list-style: none;
    font-size: 15px;

}

#contacto h2 {
    font-family: "playfair display";
    font-size: 32px;
    font-weight: 100;
}

#contacto .contenedor ul li:first-child(1){
    font-weight: bold;
}

#contacto a {
    color: #fff;
    padding: 9px;
    background: #c39d63;
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 20px;
}

#contacto h3 {
    font-size: 23px;
    font-weight: 100;
    margin: 0;
}

#contacto .derecha p {
    opacity: 0.4;
    width: 70%;
    margin: auto;
}

#contacto .derecha a{
    padding: 9px 12px;
}

#contacto .derecha h3 {
    margin-top: 45px;
}

#contacto form{
    margin-top: 25px;
}

input[type="text"] {
    width: 72%;
    border: 0;
    background: #111111;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 10px;
}

::placeholder{
    color: #cdcdcd
}

::-ms-input-placeholder {
    color: #cdcdcd;
}

input[type="submit"]{
    display: block;
    width: 76%;
    margin: auto;
    margin-top: 20px;
    border: 0;
    background:  #c39d63;
    color: #ffffff;
    padding: 11px 0;
    font-size: 16px;
}

#contacto .derecha, #contacto .izquierda {
    width: 35%;
}

@media screen and (max-width:800px){
    nav {
        position: absolute;
        top: 80px;
        left: 0;
        background: #000;
        width: 100%;
        display:none;
    }

    nav ul li {
        display:block;
        margin-bottom: 15px;
    }

    nav ul li a {
        color: #fff;
    }

    header .logo {
        font-size:20px;
    }

    .menu .menu-icon {
        display:block;
    }
    #intro {
        margin-top: -20px;
    }

    #intro h1 {
        font-size: 36px;

    }

    #intro p {
        font-size: 16px;
        line-height: 30px;
        width: 100%;
    }

    #history .contenedor {
        flex-direction: column;
    }

    #history .izquierda {
        width: 100%;
    }

    #history .derecha img {
        width: 100%;
    }

    #menu {
        height: 2420px;
        padding-top: 20px;
    }

    #menu .linea1 div, #menu .linea2 div {
        display: block;
        width: 100%;
    }

    #menu .texto {
        top: 0px;
    }

    #menu #texto-2 {
        top: 18px;
    }

    #menu .parrafo {
        width: 80%;
        margin: auto;
    }

    #menu ul {
        padding: 50px;
    }

    #menu .linea1, #menu .linea2 {
        padding-top: 20px;
     
    }

    .linea2 .hongo{
        width:100% !important;
    }

    #menu .hongo {
        top: -20px;
        left: 0;
    }

    #menu #ultimo {
        width: 100% !important;
        top: 18px;
    }

    .linea2 .pez{
        width:100% !important;
        top: -10px !important;
        right: 0 !important;
    }

    #menu .linea2 {
        height: 820px;
    }

    .contenedor-testimonials{
        flex-direction: column;
    }

    .testimonial {
        width: 100%;
        
    }

    #contacto .contenedor {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #contacto .izquierda, #contacto .derecha {
        width: 85%;
    }

    .derecha {
        margin-top: 60px;
    }
}